# Android / Gradle
*.iml
.gradle/
build/
.externalNativeBuild/
.cxx/
.captures/
.kotlin/

# Local config
local.properties

# IDE
.idea/

# macOS
.DS_Store

# Release outputs
/app/release/*.apk
/app/release/*.aab
/.antigravitycli
/docs
